---
import { getPageBySlug } from '@/lib/pagedb';
import type { Page } from '@/lib/pagedb';
import BaseLayout from "@/layouts/BaseLayout.astro";
import { ProsemirrorViewer } from "@/components/prosemirror-viewer";
import '@/styles/_variables.scss';
import '@/styles/_keyframe-animations.scss';
import CommentList from '@/components/CommentList';
import CommentBox from '@/components/CommentBox';

const { slug } = Astro.params;
const userId = Astro.locals.user?.id;
const userRole = Astro.locals.role;
const page: Page | null = await getPageBySlug(slug!);
if (!page) {
  return Astro.redirect('/404')
}
if (!page) {
  throw new Error("Strona nie znaleziona");
}

---

<BaseLayout title={page.title}>
  <h1>Strona: {page.title}</h1>
  <ProsemirrorViewer content={page.content} client:only></ProsemirrorViewer>
  <CommentList comments={page.comments ?  page.comments.map(comment => ({...comment, _id: comment._id.toString(), userId:comment.userId.toString()})) : null} postId={page._id.toString()} role={userRole} client:only="react"></CommentList>
  <CommentBox postId={page._id.toString()} userId={userId} client:only="react"></CommentBox>
</BaseLayout>
